.container-fluid {
    padding: 15px;
}
.card .card-img img {
    width: 100%;
}
.card .large-card {
    border-radius: o;
    border-color: #d9e0e3;
}
.large-card .card-info {
    padding: 25px 30px 15px;
}
.large-card .card-info .card-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 3.3333;
    color: #263238;
    margin-bottom: 0;
}
.large-card .card-info .card-category {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 4.29;
    color: #8bc34a;
}
.large-card .card-author {
    padding: 20px, 0;
    border-top: 1px solid;
    border-color: #d9e0e3;
}
.large-card .card-author span {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 4.29;
    color: #546e7a;
}