
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	margin: 0;
	background-color: #f4f6f5;
}
h1, h2, h3, h4, h5, h6, {
	margin: 0;
	margin-bottom: 0;
}
p {
	margin: 0;
}
ul, ol{
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}
li {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
	line-height: 0;
}
input,
textarea,
button {
	outline: none;
	border: none;
}
button {
	cursor: pointer;
	background-color: transparent;
}
textarea {
	resize: vertical;
}
input[type="submit"] {
	cursor: pointer;
}
img {
	max-width: 100%;
}

/* --- Cards start --- */
.container-fluid {
    padding: 15px;
}
.card {
    border-radius: 0;
    border-color: #d9e0e3;
    overflow: hidden;
    position: relative;
}
.card-label-flash::before {
    content: "";
    position: absolute;
    top: -41px;
    left: -36px;
    width: 78px;
    height: 92px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #8bc34a; 
    display: inline-block;
    color: #fff;
}
/* -Large card start- */
.card.large-card .card-info {
    padding: 24px 30px 9px;
}
.large-card .card-info .card-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    /* line-height: 3.3333; */
    color: #263238;
    margin-bottom: 27px;
}
.large-card .card-info .card-category {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 4.29; */
    color: #8bc34a;
}
.card-info .card-price {
    font-family: Roboto;
    font-weight: bold;
    line-height: 3;
    color: #263238;
}
.large-card .card-author {
    padding: 2px 30px 5px;
    border-top: 1px solid #d9e0e3;
}
.large-card .card-author span {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 4.29;
    color: #546e7a;
}
.card-product-rating .list-inline-item {
    margin-right: 0;
    color: #ffa726;
}
.large-card .rating-count {
    margin-left: 13px;
}
.large-card .rating-count::before {
    content: "(";
}
.large-card .rating-count::after {
    content: ")";
}
/* -Large card end- */
/* --- Cards End --- */
/* Dropdown  */
/* Header dropdowns */

section {
    background-color: #fff;
    padding: 30px 0;
}
.dropdown-toggle::after {
    display: none;
}
.header-dropdown-list .dropdown-toggle {
    display: block;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 2;
    color: #a0a0a0;
    position: relative;
    width: 34px;
    text-align: center;
}
.header-dropdown-list li+li {
    margin-left: 15px;
}
.header-dropdown-list .dropdown-toggle .count {
    position: absolute;
    top: -12px;
    right: -7px;
    font-family: open-sans;
    font-weight: 600;
    font-size: 11px;
    /* line-height: 2.182; */
    color: #fff;
    width: 18px;
    text-align: center;
}
#dropdown-alerts .count {
    background-color: #fcb322;
}
#dropdown-messages .count {
    background-color: #ef6c00;
}
#dropdown-cart .count {
    background-color: #95c85a;
}
.dropdown-menu {
    border: 0.833px solid rgb(204, 204, 204);
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    font-family: roboto;
}
.dropdown-notification {
    min-width: 268px;
}   
.dropdown-notification .dropdown-item {
    padding: 18px 30px 20px 22px;
    font-weight: 400;
    position: relative;
}
.dropdown-notification .dropdown-item +.dropdown-item {
    border-top: 0.833px solid rgb(204, 204, 204);
}
.dropdown-item img {
    margin-right: 19px;
}
.dropdown-notification .item-content .item-name {
    font-size: 12px;
    color: #84b743;
}
.dropdown-notification .item-content .item-date {
    font-size: 10px;
    color: #707070;
}
.dropdown-notification .item-content .message-author {
    font-weight: 700;
    font-size: 12px;
    color: #000;
}
.dropdown-item .item-content .item-icon {
    font-size: 16px;
    line-height: 3.75;
    color:  #b0bec5;
}
.dropdown-item .item-content .item-icon i:hover {
    color: #ef6c00;
}
.dropdown-item .item-content h6 {
    font-family: roboto;
    font-weight: 500;
    font-size: 15px;
    color: #263238;
    margin-bottom: 0;
}
.dropdown-item .item-content .item-price {
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.item-summary {
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    border-top: 0.833px solid rgb(204, 204, 204);
    padding: 20px 30px;
}
.go-checkout {
    padding: 0px 18px 14px 18px;
}
.user-account-section .dropdown-toggle .user-data {
    margin-left: 17px;
    margin-right: 14px;
}
.user-account-section .dropdown-toggle .user-name {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #000;
    margin-bottom: 7px;
}
.user-account-section .dropdown-toggle .user-balance {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    color: #8bc34a;
}
.user-profile-dropdown .dropdown-item i {
    font-size: 14px;
    color: #8bc34a;
}
.user-profile-dropdown .dropdown-item span {
    font-weight: 400;
    font-size: 12px;
    line-height: 3;
    color: #546e7a; 
    margin-left: 8px;
}
/*  /Header dropdowns */
/* --- Header start --- */
/* -Top-header start- */
.top-header {
    padding: 27px 0;
    background-color: #fff;
}
.header-help-text {
    font-family: roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #546e7a;
}
.header-help-text .text-red {
    color: #e74c3c;
}
.header-dropdown-list {
    margin-left: 28px;
    margin-right: 20px;
}
/* -Top-header end- */
/* -Bottom-header start-*/
.bottom-header {
    background-color: #263238;
}
.bottom-header .header-nav .nav-link {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.143;
    color: #fff;
}
/* -Bottom-header end- */
/* --- Header end --- */
.row {
    margin-bottom: 31px;
}
.someclass {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}