/* --- Aside section --- */
/* Default styles */
aside .aside-section {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 25px 30px 30px 30px;
    width: 270px;
    margin: 30px 30px 30px 0;
}
aside .aside-section .aside-section-title {
padding-bottom: 19px;
border-bottom:  1px solid #dfdfdf;
font-family: roboto;
font-weight: 700;
color: #263238;
margin-bottom: 19px;
}
.aside-list-categories i {
    font-size: 14px;
    color: #8bc34a;
    margin-right: 15px;
}
.aside-list-categories span {
    font-family: roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 2.667;
    color: #263238;
}
.aside-list-categories .category-list-count {
    color: #90a4ae;
}


